/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
  font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}


/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}


/* Shared style */

body{
    margin: 0;
    padding: 0;
}

.bg-color{
    color: #AAAAAA;
}

.display-flex{
    display: flex;
}

.text-black{
    color: #3A3A3A;
}

.text-gray{
    color: #18191F;
}

/* nav releated style */
.navbar{
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto;
}

.navbar .title{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu{
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.menu .icon, #menu-list{
    gap: 30px;
}

#menu-list li{
    list-style: none;
}

#menu-list li a{
    text-decoration: none;
    color: black;
}

/* Hero section related style */
#hero{
    /* border: 1px solid red; */
    max-width: 1200px;
    height: auto;
    gap: 130px;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:750px 0px, bottom right;
    background-size: contain;
}

#hero .hero-info{
    /* border: 1px solid aqua; */
    max-width: 580px;
}

.hero-info .hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
}

.hero-info .hero-desc{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-info .hero-btn{
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

#hero .img-container img{
    width: 100%;
}

/* Companies */

.companies{
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1040px;
    grid-template-columns: repeat(7, 1fr);
    margin: 80px auto;
    padding: 35px 62px;
    box-shadow: 0px -2px 10px rgb(215, 214, 214),
                0px 2px 10px rgb(198, 197, 197);
}

/* Popular collection */

.popular-collection{
    max-width: 1140px;
    flex-direction: column;
    margin: 100px auto;
    /* border: 1px solid tomato; */
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}

.collection-title{
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: 600;
}

.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    /* border: 1px solid tomato; */
    max-width: 330px;
    padding: 17px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    width: 100%;
}

.card h1{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
}

.card h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card .rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}

.card .rating p{
    font-size: 0.9rem;
    font-weight: 700;
}

.rating .icon{
    color: #FB8200;
}

.collection-btn{
    color: #E02C6D;
    align-self: flex-end;
    margin-top: 50px;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    
}

/* Feature section */

.features{
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 100px auto;
    gap: 96px;
    /* border: 1px solid tomato; */
}

.features img{
    max-width: 410px;
    width: 100%;
    height: 100%;
}

.feature-desc{
    margin-top: 23px;
    margin-bottom: 23px;

}

.feature-desc h2{
    font-size: 2.37rem;
    font-weight: 700;
}

.feature-desc p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
}

.feature-desc .feature-btn{
    background-color: #E02C6D;
    color: white;
    border: none;
    font-weight: 700;
    padding: 8px 10px;
}

/* Footer section */
.footer{
    background-color: #0A0826;
    text-align: center;
}

.footer .footer-container{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.footer-container h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer-container p{
    color: #D9DBE1;
    font-size: 0.9rem;
    font-weight: 700;
}

.footer-container .footer-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* For mobile device */

@media screen and (max-width: 576px) {
    .navbar, .menu, #menu-list, #hero{
        flex-direction: column;

    }

    .navbar .title{
        text-align: center;
    }

    .menu #menu-list{
        gap: 10px;
    }

    .icon{
        justify-items: center;
        align-items: center;
    }

    .navbar .menu .icon #search{
       display: none !important;
    }

    #hero{
        flex-direction: column-reverse;
        /* border: 1px solid red; */
        margin: 0 auto;
        background-position: top center;
        max-width: 350px;
    }

    .hero-info{
        text-align: center;
    }

    .companies, .collection-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        /* max-width: 350px; */
        margin-left: 15px;
        margin-right: 15px;
    }
    .collection-btn{
        margin-right: 15px;
    }

    .features{
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
    }

    .feature-desc{
        text-align: center;
    }

}