@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
  font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}

/* Shared style */

.bg-color{
    color: #AAAAAA;
}

.display-flex{
    display: flex;
}

.text-black{
    color: #3A3A3A;
}

.text-gray{
    color: #18191F;
}

/* nav releated style */
.navbar{
    justify-content: space-between;
    max-width: 1140px;
    margin: 30px auto;
}

.navbar .title{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .menu{
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.menu .icon, #menu-list{
    gap: 30px;
}

#menu-list li{
    list-style: none;
}

#menu-list li a{
    text-decoration: none;
    color: black;
}

/* Hero section related style */
#hero{
    /* border: 1px solid red; */
    max-width: 1140px;
    height: auto;
    gap: 130px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:720px 0px, bottom right;
    background-size: contain;
}

#hero .hero-info{
    /* border: 1px solid aqua; */
    max-width: 580px;
}

.hero-info .hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
}

.hero-info .hero-desc{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-info .hero-btn{
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

#hero .img-container img{
    width: 100%;
}
